@import "tailwindcss";
@import "@blueprintjs/select/lib/css/blueprint-select.css";

#root {
  position: absolute;
  inset: 0;
}


*{
  margin: 0;
  padding: 0;
  cursor: default !important;
  }
  
  button {
    outline: none !important;
  }
  .dark {
    --background-color: #000;
  }
  
  .light {
    --background-color: #fff;
  }
  body {
    background-color: var(--background-color);
    transition: background-color 0.3s ease;
  }