@import "tailwindcss";
@import "@blueprintjs/select/lib/css/blueprint-select.css";

body {
  background-color: #F8FAFC;
}

*{
  margin: 0;
  padding: 0;
  cursor: default !important;
  }
  
  button {
    outline: none !important;
  }